
/***************************************************
Formatações Gerais ********************************/

html{
	overflow-x: hidden;
  font-family: "Roboto", serif;
}

.nome {
  padding-top: 150px;
}

.fundo {
  height: 500px;
  background: url(../img/background.jpg);
  background-attachment: fixed;
}

#bg-custom {
  background-color: #3f3f3f;
}

ul a{
  font-size: 1.5em;
}

div p a{
  color: #BFBFBF; 
}

div p a:hover{
  color: #969696; 
}
body {
  color: white;
}
/*************************************************
Fonte customizada********************************/

@font-face {
        font-family: "Roboto";
        src: url("../fonte-custom/Roboto-Regular.ttf");
      }

div a.negrito {
  font-weight: 600;
  letter-spacing:0.03em;
}

h1.negrito {
  font-weight: 600;
}

h1.negrito.trabalhos {
  font-weight: 600;
  font-size: 3em;
}

/********************************************
MediaQuery**********************************/

@media (max-width: 598px) 
{
  .nome {
    font-size: 2.5em;
  }

  .funcao {
    font-size: 1em;
  }

  .trabalho {
    font-size: 1.5em;
  }

  .videos {
    width: 300px;
    margin: 10px auto;
  }

  #creditos-ulisses {
    font-size: 0.7em;
  }
}

/********************************
Formatações específicas*********/

div.media>img {
  width: 100px;
  height: 100px;
}